:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
}

/* restyle mui */

.MuiAlert-root{
  border-radius: 20px;
}

/* end Restyle mui */

a {
  color: inherit;
  text-decoration: none;
}
.main-nav{
  transition: 1s all;
}

.main-nav > div:hover,
.main-nav .active
{
  background-color: #ED3237;
}

.main-nav .active a,
.main-nav > div:hover a
{
  color: #fff !important
}
.dkh-bg-linear{
  background: rgb(66,47,44);
  background: linear-gradient(90deg, rgba(66,47,44,1) 0%, rgba(237,28,36,1) 100%);
}
.dkh-bg-radian{
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, #F2F2F2 100%);
}

.dkh-bg-radian .text{
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 121px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  color: transparent;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
}
.MuiButton-contained{
  border-radius: 20px !important;
}
.MuiInputBase-input{
  padding: 10px 20px !important;
}
.vi__container{
  width: 420px !important;
  height: 68px !important;
}
.vi__character{
  line-height: 65px !important;
}
.post-content p{
  padding-bottom: 15px;
  letter-spacing: -0.8px;
  line-height: 1.6;
  font-size: 16px;
}

.post-content img{
  max-width: 100%;
  height: auto;
}

.post-content ul{
  padding-left: 30px;
}
.post-content ul li{
  padding-bottom: 15px;
}

.toc{
  list-style: none;
}
.toc li{
  padding-bottom: 10px;
  font-weight: 500;
}

.blog-cat-thumbnail{
  position: relative;
  overflow: hidden;
}
.blog-cat-thumbnail::before{
  position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.blog-cat-thumbnail:hover::before{
  -webkit-animation: shine .75s;
	animation: shine .75s;
}

/* swal */

.swal2-title{
  font-size: 1rem !important
}

.swal2-styled.swal2-confirm{
  background-color: #1D96D2;
}

.swal2-html-container{
  font-size: .9rem !important;
}
.swal2-html-container strong{
  color: #CF0026
}

/* Swipper */
.swiper-pagination-bullet{
  width: 13px !important;
  height: 13px !important;
  background: #aaaaaa !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: #ED3237 !important;
}

.product-name{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 40px;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}